body {
    background-color: #aaccff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    overflow: hidden;
    color: rgb(20, 20, 51);
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(12, 9, 34);
    background-color: #aaccff;
    gap: 1px;
}

.tab-button {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    margin: -1px;
    font-size: 23px;
    text-overflow: ellipsis;
    max-height: 50px;
    width: 100%;
}

.tabs .tab-button:first-child {
    background-color: rgb(9, 43, 92);
    color: white;
}

.productTab {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 0px 0px;
    font-size: 20px;
    gap: 25px;
    flex: 1;
}


#pages {
    border: 0px solid rgb(9, 43, 92);
    height: 95%;
    font-size: 20px;
}

.page {
    padding-top: 10px;
}

#pagesTitle {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
}

#productPage {
    flex: 1;
    margin: 0;
    width: 1500px;
    flex-direction: column;
}

.productContent {
    border: 1px solid black;
    background-color: white;
}

.productPages {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 0px 0px;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.productsPagesButton {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin: -1px;
}

.fifthRow {
    position: relative;
    height: 100%;
}

.page {
    display: none;
}


#statsPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.statsSection {

}

#ordersSection {
    display: flex;
    gap: 25%;
    height: 70%;
}

#orders{
    display: flex;
    width: 70%;
}

#ordersGraph{

}

.statsMenu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
}

.statsHeader {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 5px;
}

.statsFilter {
    display: flex;
    justify-content: right;
    background-color: rgb(9, 43, 92);
    color: white;
    border-bottom: 2px solid white;
    font-size: 15px;
}

.statsFilterElement {
    padding: 5px;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#ordersText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
}

.statsInputs {
    display: flex;
    background-color: rgb(9, 43, 92);
    border-bottom: 2px solid white;
    min-height: 15px;
}

.graphMenu {
    border: 1px solid black;
}

.statsContent {
    overflow: scroll;
}

.statsTable {
    background-color: rgb(9, 43, 92);
    border-collapse: collapse;
    width: 100%;
}

.statsTable th {
    position: sticky;
    top: 0;
    resize: horizontal;
    overflow: auto;
    padding: 5px;
    background-color: rgb(9, 43, 92);
    border-bottom: 1px solid black;
}

.statsTable th, statsTable td {

    text-align: left;
}

.statsTable tr{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-left: -5px;
}

.statsTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.statsTable td {
    color: black;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 600;
}

#ordersContent{
    flex: 1;
}

.tableMainRow {

    color: white; 
}

.content {
    border-top: 0px;
    align-content: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(233, 238, 242);
    flex: 1;
}

.contentGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    gap: 10px;
    margin: 0;
}


.grid-product, .grid-product-small {
    position: relative;
    background-color: white;
    color: rgb(12, 9, 34);
    display: flex;
    cursor: pointer;
}

.grid-product-small {
    font-size: 14px;
}

#grid2, #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9, #grid10, #grid11, #grid12, #grid13 {
    display: none;
}

.products-prices {
    font-size: 12px;
}

.grid-deployable {
    display: flex;
    background-color: #ffff94;
    cursor: pointer;
}

.deployable-product {
    position: relative;
    background-color: white;
    color: rgb(12, 9, 34);
    display: none;
    cursor: pointer;
}

.grid-product, .grid-product-small, .grid-deployable, .deployable-product {
    flex: calc(20% - 10px);
    max-width: calc(20% - 10px);
    height: 60px;
    border: 1px solid rgb(12, 9, 34);
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-word;
    flex-direction: column;
}

#forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

#addProductForm, #modifyProductForm, #deleteProductForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    color: rgb(20, 20, 51);
}

.formTitle {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

#isDeployable {
    width: 500px;
}

#name, #price, #color, #page, #isDeployable {
    height: 50px;
    flex-direction: column;
    font-size: 15px;
    margin: 10px;
}

#nameInput, #priceInput, #pageInput, #deployableInput, #acceptInput, #resetInput, #resetModifyInput, #acceptModifyInput {
    font-size: 25px;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgb(9, 43, 92);
    color: black;
    font-weight: 500;
    max-width: 90%;
}

#priceInput {
    width: 28%;
    height: 60%;
}

#colorInput {
    border: 0px;
    background-color: transparent;
}

#acceptInput, #resetInput, #deleteProductButton, #acceptModifyInput, #resetModifyInput {
    color: white;
    border: 0;
    border-right: 1px solid white;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
    background-color: transparent;
    font-weight: 700;
}


.buttons {
    display: flex;
    background-color: rgb(9, 43, 92);
    border-top: 1px solid black;
    position: relative;
    margin-top: 10px;
}

/* MODIFY PRODUCT */
#modifyProductForm {
    display: table;
    margin-top: auto;
}

#selectedElementText {
    font-size: 15px;
    margin: 10px;
    color: rgb(20, 20, 51);
}

#selectedElement {
    border: 2px solid rgb(20, 20, 51);
    width: 40%;
    height: 15%;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    margin: 5px;
    margin-left: 20px;
    background-color: white;
}

#selected-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    
}

#newName, #newPrice, #newColor {
    margin-left: 10px;
    margin: 10px;
    font-size: 15px;
    color: rgb(20, 20, 51);
}

#newNameInput, #newPriceInput, #newColorInput {
    border: 0;
    background-color: transparent;
}

#newNameInput, #newPriceInput {
    border-bottom: 2px solid rgb(20, 20, 51);
    font-size: 25px;
}


/* EMPLOYEE */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#employeePage {
    gap: 25px;
}

#employees {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 100%;
}

.names {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 0px;
}

#employeeList {
    overflow: auto;
    max-height: 95%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 280px;
    position: relative;
    bottom: 50%;
}

#arrow2 {
    position: relative;
    top: 40%;
}

.employee {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-right: 0px solid black;
    margin-top: -1px;
    height: 50px;
    cursor: pointer;
}

.employee:last-child {
    border-bottom: 0px;
}

.employeeLevel {
    width: 10%;
    text-align: center;
    border-right: 0px solid black;
}

.employeeName {
    margin-left: 5px;
}


.employeeUsername {
    margin-left: 5px;
    flex: 1;
}


#buttons {
    display: flex;
}


#addEmployee {
    background-color: white;
    border: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}

.employeeDetails {
    display: none;
}

#selectedEmployeeDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    background-color: white;
    height: 425px;
}

#selectedEmployeeDetailsText {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.detailsInput {
    border: 0px solid white;
    border-bottom: 2px solid rgb(9, 43, 92);
    background: transparent;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.detailsRow {
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.onlyRow {
    margin-left: 20px;
    margin-right: 20px;
}

.detailsText {
    font-size: 15px;
}

#saveDeleteButtons {
    background-color: rgb(9, 43, 92);
    margin: -1px;
    border: 1px solid black;
    gap: 0;
}

#saveEmployeeDetails, #deleteEmployeeDetails {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    border-right: 1px solid white;
    cursor: pointer;
}


/* INGREDIENTS + ALLERGENS */
#ingredientAndAllergensPage {
    height: 90%;
    gap: 25px;
}

#currentProducts, #currentIngredients, #currentAllergens {
    width: 30%;
}

#currentProductsText, #currentIngredientsText, #currentAllergensText {
    background-color: rgb(9, 43, 92);
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#currentProductsList, #currentIngredientsList, #currentAllergensList, #ownedIngredientsList, #notOwnedIngredientsList, #ownedAllergensList, #notOwnedAllergensList {
    border: 1px solid black;
    overflow: auto;
    max-height: 85%;
    min-height: 85%;
    background-color: white;
}

#currentProductsList {
    max-height: 88.5%;
}

.currentProduct:last-child, .currentIngredient:last-child, .currentAllergen:last-child {
    padding-bottom: 1px;
}

.currentProduct:first-child, .currentIngredient:first-child, .currentAllergen:first-child {
    border-bottom: 1px solid black;
}

#filteredProductsList, #filteredIngredientsList, #filteredAllergensList {
    display: none;
}

.searchBar {
    display: flex;
    background-color: rgb(9, 43, 92);
    color: white;
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 2px solid white;
}

.filter {
    display: flex;
    background-color: rgb(9, 43, 92);
    color: white;
    border-top: 2px solid white;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.filterText {
    flex: 1;
    font-size: 15px;
    margin: 5px;
}

.allButton, .ownedButton, .notOwnedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.searchButton {
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

.inputFilter {
    border: 0px;
    border-right: 1px solid white;
    background: transparent;
    color: white;
    padding: 0;
    flex: 1;
    text-transform: uppercase;
    font-size: 15px;
}

.currentProduct, .currentIngredient, .currentAllergen {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.currProductName {
    margin-left: 5px;
    font-size: 20px;

}

.currentProductIngredient, .currentProductAllergen {
    display: none;
}

.currentIngredient, .currentAllergen {
    padding-left: 5px;
}

.buttonsRow {
    display: flex;
    background-color: rgb(9, 43, 92);
    border: 1px solid black;
    border-top: 0;
}

.saveAndDeleteButtons {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    bottom: 1px;
}

#saveIngredients, #saveAllergens, #addNewIngredient, #deleteIngredients, #deleteAllergens, #addNewAllergen, #saveRelationships {
    border-right: 1px solid white;
}

#deleteIngredients, #deleteAllergens {
    border-left: 0px;
}

#ownedIngredientsList, #ownedAllergensList, #notOwnedIngredientsList, #notOwnedAllergensList {
    display: none;
}

.newIngredientInput, .newAllergenInput {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(20, 20, 51);
    z-index: 10;
}