body {
    background-color: rgb(9, 43, 92);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    overflow: hidden;
    color: rgb(20, 20, 51);
    margin: 0;
    min-height: 100vh;
}

#pages{
    background-color: #bdd7fc;
    flex: 1;
}

.tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(12, 9, 34);
    background-color: rgb(9, 43, 92);
    gap: 1px;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 43, 92);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-right: 0px;
    border-top: 5px solid rgb(9, 43, 92);
    margin: 0px -1px;
    font-size: 20px;
    flex: 1;
    padding: 5px;
    padding-bottom: 10px;
}

.tab-button:first-child {
    background-color: #bdd7fc;
    color: black;
    border-bottom: 0px;
    border-top: 5px solid rgb(28, 89, 176);
}

.tabIcon {
    margin-right: 10px;
}

#statsTabText, #productsTabText, #employeesTabText, #ingredientsAndAllergensTabText, #settingsTabText {
    text-align: left;
}

.selectedTabIcon {
    display: none;
}

#unselectedStatsTabIcon {
    display: none;
}

#selectedStatsTabIcon {
    display: flex;
}

#pages {
    border: 0px solid rgb(9, 43, 92);
    height: 100%;
    font-size: 20px;
}

.page {
    padding: 10px;
    padding-top: 20px;
    overflow-y: scroll;
}

#pagesTitle {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productPage {
    flex: 1;
    margin: 0;
    flex-direction: column;
}

.productTab {
    display: flex;
    height: 730px;
}

.productContent {
    border: 1px solid black;
    background-color: rgb(28, 89, 176);
    overflow: hidden;
    width: 40%;
}

.productPages {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 0px 0px;
    font-size: 20px;
    background-color: white;
}

.productsPagesButton {
    flex: 1;
    background-color: rgb(9, 43, 92);
    border-right: 1px solid white;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 10px 0;
}

.productsPagesButton:first-child {
    background-color: rgb(28, 89, 176);
    border-bottom: 0px;
}

.productsPagesButton:last-child {
    border-right: 0;
}

.fifthRow {
    position: relative;
    height: 100%;
}

.page {
    display: none;
}


#statsPage {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    overflow: scroll;
    overflow-x: hidden;
    gap: 40px;
}

.statsSection {

}

#ordersSection {
    display: flex;
    gap: 10px;
    height: 502px;
    max-height: 502px;
}

#orders{
    display: flex;
}

#ordersGraphMenu{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#ordersGraphMenuHeader {
    border: 1px solid black;
    border-bottom: 0;
}

#ordersGraphContent {
    background-color: white;
    padding: 0px 10px;
    border: 1px solid black;
}

.statsMenu {
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    height: 500px;
    width: 900px;
}

.statsMenuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 43, 92);
    color: white;
    border-bottom: 2px solid white;
    padding: 5px;
    font-size: 23px;
}

.statsHeader {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 5px;
}

.statsFilter {
    display: flex;
    justify-content: right;
    background-color: rgb(9, 43, 92);
    color: white;
    border-bottom: 2px solid white;
    font-size: 15px;
}

.statsFilterElement {
    width: 90px;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#employeeOrders {
    width: 120px;
}

.allFilter {
    background-color: rgb(28, 89, 176);
}

#ordersText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
}

.statsInputs {
    display: flex;
    background-color: rgb(9, 43, 92);
    border-bottom: 2px solid white;
    min-height: 15px;
}

.productsMenu {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    border: 1px solid black;
    width: 300px;
    height: calc(100% - 2px);
}

#productsMenuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 43, 92);
    border-bottom: 2px solid white;
    padding: 5px;
}

#orderProductsContent {
    background-color: white;
    max-width: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
}

#productList {
    overflow: scroll;
}

#productsContent {
    display: flex;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

#productsMenuFooter {
    display: flex;
    border-top: 1px solid black;    
    position: relative;
    margin-top: -1px;
    margin-bottom: 0;
    background-color: rgb(9, 43, 92);
    color: white;
    justify-content: right;
}

#productsMenuTotalAmount, #productsMenuTotalBill {
    padding: 5px;
    border-left: 1px solid white;
    min-width: 50px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

#productsMenu {
    background-color: white;
    height: 100%;
}

.prod {
    color: black;   
    display: flex;
}

.graphMenu {
    
}

.statsContent {
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}

.statsTable {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.statsTable th {
    position: sticky;
    top: 0;
    overflow: auto;
    padding: 5px;
    background-color: rgb(9, 43, 92);
    color: white;
    border-bottom: 1px solid black;
    overflow: hidden;
    cursor: pointer;
    max-height: 30px;
}

.sortUp, .sortDown {
    position: absolute;
    top: 0;
    margin-left: auto;
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
    top: calc(50% - 8px);
    display: none;
}

.statsTable th, statsTable td {
    padding: 5px;
    text-align: left;
}

.statsTable tr {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-left: -5px;
    background-color: white;
    color: black;
    max-height: 30px;
}

#fill {
    height: 100%;
    background-color: white;
}


.statsTable td {
    padding: 5px;
    margin: 0;
    font-weight: 600;
    max-height: 30px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ordersContent{
    flex: 1;
}

#ordersDate {
    width: 175px;
}

.producList {
    overflow: scroll;
}

.tableMainRow {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    font-size: medium;
    text-align: left;
    max-width: 100%;
}

#ordersNumHeader {
    text-overflow: unset;
    overflow: hidden;
    max-width: none;
    width: 50px;
}

.orderId {
    padding-right: 0;
}

#ordersDateHeader {
    width: 140px;
}

#ordersTableHeader, #ordersClientsHeader, #ordersBillHeader, #ordersPaidHeader, #ordersDiffHeader, #ordersDiscHeader, #ordersMethodHeader {
    width: 55px;
}


#ordersEmployeeHeader{

}

#ordersTableFooter {
    position: relative;
    bottom: 0;
    min-height: 30px;
    height: 30px;
}

#ordersTableFooterRow {
    position: sticky;
    bottom: 0;
    background-color: white;
    color: white;
    width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin-top: -1px;
}

#ordersTableFooterRow td {
    position: sticky;
    background-color: rgb(9, 43, 92);
    bottom: 0;
    font-size: 17px;
    overflow: hidden;
    text-overflow: unset;
    word-wrap: break-word;
    margin-right: 10px;
}

#completeFooter {
    flex: 1;
}

#orderProductsTable {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    overflow: scroll;
}

#productsSection {
    display: flex;
    gap: 10px;
    height: 500px;
}

#products {
    height: 500px;
    width: 900px;
}

#productsGraphMenu {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    border: 1px solid black;
}

#productsGraphHeader {
    border-bottom: 1px solid black;
}

#productsGraphContent {
    background-color: white;
    flex: 1;
}

#productsGraph {
    max-height: 400px;
}

.productListRow {
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: 600;
}

#productsListName {
    width: 70%;
    max-width: 70%;
}

#orderProductsTable th {
    padding: 5px;
}

#orderProductsTable td {
    padding: 5px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    max-height: 30px;
}

#productsNumHeader {
    width: 50px;
}

#productsNameHeader {
    width: 50px;
}

.content {
    border-top: 0px;
    padding: 10px;
}

.contentGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    gap: 5px;
    margin: 0;
}


.grid-product, .grid-product-small {
    position: relative;
    background-color: white;
    color: rgb(12, 9, 34);
    display: flex;
    cursor: pointer;
}

.grid-product-small {
    font-size: 14px;
}

#grid2, #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9, #grid10, #grid11, #grid12, #grid13 {
    display: none;
}

.products-prices {
    font-size: 12px;
}

.grid-deployable {
    display: flex;
    background-color: #ffff94;
    cursor: pointer;
}

.deployable-product {
    position: relative;
    background-color: white;
    color: rgb(12, 9, 34);
    display: none;
    cursor: pointer;
}

.grid-product, .grid-product-small, .grid-deployable, .deployable-product {
    flex: calc(20% - 10px);
    max-width: calc(20% - 5px);
    height: 80px;
    border: 1px solid rgb(12, 9, 34);
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-word;
    flex-direction: column;
}

#forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

#addProductForm, #modifyProductForm, #deleteProductForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    color: rgb(20, 20, 51);
    font-size: 20px;
}

.formTitle {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

#isDeployable {
    width: 500px;
}

#name, #price, #color, #page, #isDeployable {
    height: 50px;
    flex-direction: column;
    font-size: 15px;
    padding: 5px 10px;
}

#nameInput, #priceInput, #pageInput, #deployableInput, #acceptInput, #resetInput, #resetModifyInput, #acceptModifyInput {
    font-size: 20px;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgb(9, 43, 92);
    color: black;
    font-weight: 500;
    max-width: 90%;
}

#priceInput {
    width: 28%;
    height: 60%;
}

#colorInput {
    border: 0px;
    background-color: transparent;
}

#acceptInput, #resetInput, #deleteProductButton, #acceptModifyInput, #resetModifyInput {
    color: white;
    border: 0;
    border-right: 1px solid white;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    font-weight: 700;
}


.buttons {
    display: flex;
    background-color: rgb(9, 43, 92);
    border-top: 1px solid black;
    position: relative;
    margin-top: 10px;
}

/* MODIFY PRODUCT */
#modifyProductForm {
    display: table;
    margin-top: auto;
}

#selectedElementText {
    font-size: 15px;
    margin: 10px;
    color: rgb(20, 20, 51);
}

#selectedElement {
    border: 2px solid rgb(20, 20, 51);
    width: 40%;
    height: 15%;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    margin: 5px;
    margin-left: 11px;
    background-color: white;
}

#selected-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    
}

#newName, #newPrice, #newColor {
    margin-left: 10px;
    margin: 10px;
    font-size: 15px;
    color: rgb(20, 20, 51);
}

#newNameInput, #newPriceInput, #newColorInput {
    border: 0;
    background-color: transparent;
}

#newNameInput, #newPriceInput {
    border-bottom: 2px solid rgb(20, 20, 51);
    font-size: 20px;
}


/* EMPLOYEE */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#employeePage {
    gap: 25px;
}

#employees {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 100%;
}

.names {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 0px;
}

#employeeList {
    overflow: auto;
    max-height: 95%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 280px;
    position: relative;
}

#arrow2 {
    position: relative;
    top: 45%;
}

#arrow3 {
    position: relative;
    top: 35%;
}

.employee {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-right: 0px solid black;
    margin-top: -1px;
    height: 50px;
    cursor: pointer;
}

.employee:last-child {
    border-bottom: 0px;
}

.employeeLevel {
    width: 10%;
    text-align: center;
    border-right: 0px solid black;
}

.employeeName {
    margin-left: 5px;
}


.employeeUsername {
    margin-left: 5px;
    flex: 1;
}


#buttons {
    display: flex;
}


#addEmployee {
    background-color: white;
    border: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}

.employeeDetails {
    display: none;
}

#selectedEmployeeDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    background-color: white;
    height: 425px;
}

#selectedEmployeeDetailsText {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.detailsInput {
    border: 0px solid white;
    border-bottom: 2px solid rgb(9, 43, 92);
    background: transparent;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.detailsRow {
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.onlyRow {
    margin-left: 20px;
    margin-right: 20px;
}

.detailsText {
    font-size: 15px;
}

#saveDeleteButtons {
    background-color: rgb(9, 43, 92);
    margin: -1px;
    border: 1px solid black;
    gap: 0;
}

#saveEmployeeDetails, #deleteEmployeeDetails {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    border-right: 1px solid white;
    cursor: pointer;
}


/* INGREDIENTS + ALLERGENS */
#ingredientAndAllergensPage {
    height: 90%;
    gap: 25px;
}

#currentProducts, #currentIngredients, #currentAllergens {
    width: 30%;
    height: calc(100% - 40px);
}

#currentProductsText, #currentIngredientsText, #currentAllergensText {
    background-color: rgb(9, 43, 92);
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#currentProductsList, #currentIngredientsList, #currentAllergensList, #ownedIngredientsList, #notOwnedIngredientsList, #ownedAllergensList, #notOwnedAllergensList {
    border: 1px solid black;
    overflow: auto;
    max-height: 85%;
    min-height: 85%;
    background-color: white;
}

#currentProductsList {
    max-height: 88.5%;
}

.currentProduct:last-child, .currentIngredient:last-child, .currentAllergen:last-child {
    padding-bottom: 1px;
}

.currentProduct:first-child, .currentIngredient:first-child, .currentAllergen:first-child {
    border-bottom: 1px solid black;
}

#filteredProductsList, #filteredIngredientsList, #filteredAllergensList {
    display: none;
}

.searchBar {
    display: flex;
    background-color: rgb(9, 43, 92);
    color: white;
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 2px solid white;
}

.filter {
    display: flex;
    background-color: rgb(9, 43, 92);
    color: white;
    border-top: 2px solid white;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.filterText {
    flex: 1;
    font-size: 15px;
    margin: 5px;
}

.allButton, .ownedButton, .notOwnedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.searchButton {
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

.inputFilter {
    border: 0px;
    border-right: 1px solid white;
    background: transparent;
    color: white;
    padding: 0;
    flex: 1;
    text-transform: uppercase;
    font-size: 15px;
}

.currentProduct, .currentIngredient, .currentAllergen {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#currentProductsList:nth-child(2n+1) {
    background-color: orange;
}

.currProductName, .currentIngredient, .currentAllergen {
    font-size: 17px;
}

.currProductName {
    margin-left: 5px;
}

.currentProductIngredient, .currentProductAllergen {
    display: none;
}

.currentIngredient, .currentAllergen {
    padding-left: 5px;
}

.buttonsRow {
    display: flex;
    background-color: rgb(9, 43, 92);
    border: 1px solid black;
    border-top: 0;
}

.saveAndDeleteButtons {
    background-color: rgb(9, 43, 92);
    color: white;
    padding: 5px;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    bottom: 1px;
}

#saveIngredients, #saveAllergens, #addNewIngredient, #deleteIngredients, #deleteAllergens, #addNewAllergen, #saveRelationships {
    border-right: 1px solid white;
}

#deleteIngredients, #deleteAllergens {
    border-left: 0px;
}

#ownedIngredientsList, #ownedAllergensList, #notOwnedIngredientsList, #notOwnedAllergensList {
    display: none;
}

.newIngredientInput, .newAllergenInput {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(20, 20, 51);
    z-index: 10;
}