html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    overflow: hidden;
}

html {
    border: 0px solid rgb(255, 251, 0);
}

body {
    border: 0px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.tabs {
    display: flex;
    color: rgb(12, 9, 34);
    background-color: #aaccff;
}

.tab-button {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid red;
}

.selectTable, .currentTables {
    cursor: pointer;
    text-align: center;
    font-size: 23px;
}

#tab-buttonSelectTable, #tab-buttonCurrentTables {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: rgb(48, 127, 216);
    border: 0px solid yellow;
}

#tab-buttonCurrentTables {
    visibility: hidden;
}

.page {
    background-color: #aaccff;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 611px;
}

.tableInput {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.numTable {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

#tableInput {
    position: relative;
    background-color: rgb(29, 137, 226);
    border: none;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 50%;
    margin-left: 5%;
    border: 1px solid rgb(12, 9, 34);
}

.button-grid {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    border: 0px solid red;
    color: rgb(20, 20, 51);
}

.actions {
    display: flex;
    justify-content: center;
    border: 0px solid red;
}

.accept-button {
    font-size: 30px;
    text-align: center;
    background-color: rgb(8, 141, 8);
    color: white;
    border: none;
    position: absolute;
    margin-top: 8px;
    width: 100%;
    height: 10%;
    border: 1px solid rgb(12, 9, 34);
}
