html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aaccff;
    overflow: hidden;
}

html {
    border: 0px solid rgb(255, 251, 0);
}

body {
    border: 0px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    color: rgb(20, 20, 51);
    font-weight: bold;
    background-color: #aaccff;
    max-width: 1000px;
    margin: auto;
}

.tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    gap: 0px;
}

.tab-button {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid rgb(12, 9, 34);
}

#ticket, #products {
    cursor: pointer;
    text-align: center;
    font-size: 23px;
    padding: 5px;
    border-top: 1px solid black;
}

#products {
    background-color: rgb(9, 43, 92);
    color: white;
    border-right: 1px solid black;
}

#ticket {
    background-color: white;
    color: black;
}

#tab-buttonProducts, #tab-buttonTicket {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: rgb(9, 43, 92);
    border: 0px solid yellow;
}

#tab-buttonTicket {
    visibility: hidden;
}

#productsMenu {
    height: 100%;
    margin: 10px 10px;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow, .sixthRow {
    display: flex;
    font-size: 30px;
}

.firstRow {
    justify-content: center;
    justify-content: space-between;
}

.goBack {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.numClients {
    width: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border: 0px solid rgb(9, 43, 92);
}

#numTable {
    background-color: rgb(9, 43, 92);
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.secondRow {
    justify-content: center;
    background-color: rgb(9, 43, 92);
    color: white;
    margin: 10px 0px;
    border: 1px solid black;
    white-space: nowrap;
    transition: background-color 0s ease-in-out;
    cursor: pointer;
}

#secondRow.clicked {
    background-color: #2b62b3;
}

#lastOrder {
    text-align: center;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 10px;
}

.thirdRow {
    margin: 10px 0px;
    cursor: pointer;
}

.thirdRowButton {
    height: 60px;
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border: 1px solid rgb(9, 43, 92);
    margin: -1px;
}

#multiplier {

}

#x {
    position: relative;
    left: 6px;
    top: 5px;
}

.number {
    right: 6px;
    position: relative;
}


.fourthRow {
    display: flex;
    margin-top: 0px;
    align-content: center;
    text-align: center;
    margin: 0px 0px;
    cursor: pointer;
    height: 50px;
}

.productsPagesButton {
    flex: 1;
    background-color: white;
    color: black;
    border: 1px solid rgb(9, 43, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px;
}

.fifthRow {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.content {
    position: relative;
    width: 100%;
    height: 430px;
    border: 0px solid rgb(9, 43, 92);
    margin-top: 5px;
}

.contentGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    gap: 3px;
    margin-top: 5px;
}

.grid-product, .grid-product-small {
    flex: 31.99%;
    max-width: 31.99%;
    height: 60px;
    position: relative;
    /*background-color: white;*/
    border: 1px solid rgb(12, 9, 34);
    color: rgb(12, 9, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    word-break: break-word;
    text-align: center;
    flex-direction: column;
}

.grid-product-small {
    font-size: 14px;
}

#grid2, #grid3, #grid4, #grid5 {
    display: none;
}

.products-prices {
    font-size: 12px;
}

.grid-deployable {
    flex: 31.99%;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    max-width: 31.99%;
    border: 1px solid rgb(12, 9, 34);
    /*background-color: #ffff94;*/
}

.deployable-product {
    flex: 31.99%;
    max-width: 31.99%;
    height: 60px;
    position: relative;
    /*background-color: white;*/
    border: 1px solid rgb(12, 9, 34);
    color: rgb(12, 9, 34);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    word-break: break-word;
    text-align: center;
    flex-direction: column;
}

.ingredients, .allergens {
    display: none;
}


/* -------------- TICKET MENU -------------- */
#ticketMenu {
    display: none;
    position: relative;
    flex-direction: column;
    flex: 1;
    max-height: calc(100% - 39px);
    height: calc(100% - 39px);
    margin: 0px 10px;
}

#ticketList {
    padding: 0;
    margin: 0;
    overflow: auto;
    flex: 1;
    overflow-x: hidden;
}

.ticketProduct, .addedTicketProduct, .modifiedProduct {
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
    height: 50px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    flex: 1;
}

#divisionCurrentProducts, #divisionAddedProducts {
    text-align: center;
    display: flex;
    gap: 5px;
    display: none;
    margin: 5px 0px;
    color: black;
    background-color: #aaccff;
}

#divisionAddedProducts {
    margin: 0;
    padding: 5px;
    border-top: 1px solid black;
}

.horizontal-line {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #000;
    top: 8px;
    transform: translateY(-50%);
}

.addedTicketProduct {
    background-color: #d7fcda;
}

.times, .productTimes, .newProductTimes {
    font-size: 15px;
    margin-right: 5px;
}

.productNames, .container {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 20px;
}

.details {
    color: slategray;
    font-size: 15px;
    font-weight: 100;
}

.productPrices, .productTotalPrices {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    text-align: center;
    font-size: 13px;
    height: 50%;
    font-weight: 100;
}

.productPrices {
    padding-right: 4px;
}

.productTotalPrices {
    padding-left: 4px;
    border-left: 1px solid black;
    text-align: right;
}


#bill {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: right;
    text-align: center;
    font-size: 40px;
    max-height: calc(100% - 69px);
    background-color: rgb(9, 43, 92);
    color: white;
    border: 1px solid black;
    border-bottom: 0;
    margin-bottom: 10px;
    margin-top: -1px;
}

#discount {
    display: flex;
    font-size: 20px;
    padding-right: 5px;
    margin-bottom: 4px;
    font-weight: 100;
    position: relative;
    margin-left: 5px;
    margin-right: auto;
}

#price {
    margin-right: 5px;
}

#minus, #discountValue, #percentage {
    display: flex-column;
    align-self: flex-end;
}

#modifyDeleteMenu {
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    max-height: 60px;
    max-width: 170px;
    width: 170px;
    border: 1px solid black;
    left: 6px;
    z-index: 5;
    height: 100%;
    margin: 5px;
}

#modifyProductMenuHeader {
    background-color: rgb(9, 43, 92);
    color: white;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#modifyProductMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 6;
    background-color: #aaccff;
    flex-wrap: wrap;
    border: 1px solid black;
}

#amountInput {
    background-color: rgb(9, 43, 92);
    border: 1px solid rgb(12, 9, 34);
    height: 10%;
    width: 83%;
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color: white;
    pointer-events: none;
}

#modifyProductMenuButtons {
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: rgb(9, 43, 92);
    border-top: 1px solid black;
    font-size: 25px;
}

#modifyProductMenuAcceptButton, #modifyProductMenuCancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-left: 1px solid white;
    padding: 5px;
}

#modifyProductMenuAcceptButton {
}

#modifyProductMenuCancelButton {
}

#infoButton {
    border-right: 1px solid black;
}

#modifyProductAmountButton {
    width: 115px;
    max-width: 115px;
    border-right: 1px solid black;
}

#addDetailsButton2 {
    width: 115px;
    max-width: 115px;
    border-right: 1px solid black;
}

#deleteProductButton {
    width: 115px;
    max-width: 115px;
}

#modifyProductAmountButton, #deleteProductButton, #addDetailsButton2, #infoButton {
    max-width: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#modifyProductMenu {
    display: none;
    position: absolute;
}

/* Move table menu */
#moveTableMenu, #modifyProductMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    z-index: 1;
    background-color: #aaccff;
    flex-wrap: wrap;
    border: 1px solid black;
}

#moveTableMenuHeader {
    background-color: rgb(9, 43, 92);
    color: white;
    font-size: 25px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

#tableInput {
    background-color: rgb(9, 43, 92);
    border: 1px solid rgb(12, 9, 34);
    height: 10%;
    width: 83%;
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color: white;
    pointer-events: none;
}

.button-grid {
    flex: 1;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gridItem {
    position: relative;
    width: 100%;
    height: attr(width);
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
}

.button {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 0px solid red;
    color: rgb(20, 20, 51);
    font-family: Arial Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#moveTableMenuButtons {
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: rgb(9, 43, 92);
    color: white;
    border-top: 1px solid black;
    font-size: 25px;
}

#moveTableMenuAcceptButton, #moveTableMenuCancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px;
}

#moveTableMenuAcceptButton, #moveTableMenuCancelButton {
    border-left: 1px solid white;
}

/* Move table warning menu */
#moveTableWarningMenu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    z-index: 1;
    background-color: white;
    border: 3px solid rgb(9, 43, 92);
    flex-wrap: wrap;
}

#warningSymbol {
    height: 20%;
    width: 20%;
}

#warning1, #warning2, #warning3 {
    animation: borderToRed1 0.25s infinite;
}

#warning1 {
    animation: borderToRed2 0.25s infinite;
}

@keyframes borderToRed1 {
    50%{
        stroke: black;
    }
}

@keyframes borderToRed2 {
    50% {
        fill: black;
    }
}

#moveTableWarningMenuText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin: 10px;
}

#moveTableWarningMenuAcceptButton, #moveTableWarningMenuCancelButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 40px;
    text-shadow: 2px 2px 2px black;
}

#moveTableWarningMenuAcceptButton {
    background-color: rgb(8, 141, 8);
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#moveTableWarningMenuCancelButton {
    background-color: red;
    border-top: 1px solid black;
}

#operations {
    display: flex;
}

#payTableButton, #deleteTableButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.7);
    height: 50px;
    bottom: 0;
    margin: 0 -10px;
}

#payTableButton {
    background-color: green;
    border-right: 0px;
}

/* Delete table warning menu */
#deleteTableWarningMenu {
    display: none;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    z-index: 1;
    background-color: white;
    border: 3px solid rgb(9, 43, 92);
    flex-wrap: wrap;
}

#deleteTableButton {
    background-color: red;
}


#deleteTableWarningMenuText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#deleteTableWarningMenuAcceptButton, #deleteTableWarningMenuCancelButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#deleteTableWarningMenuAcceptButton {
    background-color: rgb(8, 141, 8);
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#deleteTableWarningMenuCancelButton {
    background-color: red;
    border-top: 1px solid black;   
}


/* Pay table warning menu */
#payTableMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 90%;
    background-color: #aaccff;
    border: 1px solid black;
    justify-content: center;
    left: 5%;
    top: 7%;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#payTableMenuHeader {
    color: white;
    background-color: rgb(9, 43, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid black;
    font-size: 25px;
}

#paidInput {
    background-color: rgb(9, 43, 92);
    border: 1px solid rgb(12, 9, 34);
    height: 10%;
    width: 83%;
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color: white;
    pointer-events: none;

}

#payTableMenuButtons {
    display: flex;
    background-color: rgb(9, 43, 92);
    color: white;
    justify-content: right;
    border-top: 1px solid black;
    width: 100%;
    font-size: 25px;
}

#payTableMenuCancelButton, #payTableMenuAcceptButton {
    border-left: 1px solid white;
    padding: 5px;
}

#payTableWarningMenu {
    display: none;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    z-index: 1;
    background-color: white;
    border: 3px solid rgb(9, 43, 92);
    flex-wrap: wrap;
}

#payTableButton {
    background-color: green;
}


#payTableWarningMenuText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#payTableWarningMenuAcceptButton, #payTableWarningMenuCancelButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#payTableWarningMenuAcceptButton {
    background-color: rgb(8, 141, 8);
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#payTableWarningMenuCancelButton {
    background-color: red;
    border-top: 1px solid black;
}

/* Ingredients and allergens menu */
#ingredientsAndAllergensMenu {
    position: absolute;
    left: 5%;
    top: 12.5%;
    width: 90%;
    height: 75%;
    background-color: white;
    display: none;
    flex-direction: column;
    border: 1px solid black;
    z-index: 999;
}

#productName {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}

#ingredientsAndAllergensTabs {
    display: flex;
    font-size: 22px;
}

#ingredientsTab, #allergensTab {
    background-color: rgb(28, 89, 176);
    color: white;
    border: 1px solid black;
    border-top: 2px solid white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    margin-left: -1px;
    margin-right: -1px;
    cursor: pointer;
}

#allergensTab {
    background-color: rgb(9, 43, 92);
    color: white;
    border-left: 1px solid white;
}

#ingredientsAndAllergens {
    color: black;
    flex: 1;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.ingredients, .allergens {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    list-style: none;
    padding: 0;
}

.allergens {
    margin: 0;
}

#allergensList {
    display: none;
}

.ingredient, .allergen {
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 20px;
}

#ingredientsAndAllergensFooter {
    background-color: rgb(9, 43, 92);
    color: white;
    display: flex;
    justify-content: right;
    border-top: 1px solid black
}

#backButton {
    border-left: 1px solid white;
    padding: 5px;
    font-size: 25px;
}
