html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    height: 100%;
    background-color: black;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
    color: white;
    font-size: 17px;
    flex-direction: column;
}

body {
    height: 97%;
    flex-direction: column; 
    align-items: center; 
}

.tab {
    display: flex;
    justify-content: center;
    border: 0px solid purple;
}

.tab-button {
    position: relative;
    width: 50%;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    border: 0px solid red;
}

    .tab-button::after {
        content: "";
        display: flex;
        width: 99%;
        height: 5px;
        position: absolute;
        bottom: 0;
        background-color: rgb(48, 127, 216);
        border: 0px solid yellow;
    }


.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow, .sixthRow {
    display: flex;
    font-size: 30px;
    margin: 0 10px;
}

.numClients {
    width: 50px;
}

.firstRow {
    justify-content: center;
    justify-content: space-between;
}

.secondRow {
}

.thirdRow {
    border: 0px solid red;
}

.thirdRowButton {
    flex: 1;
    height: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0px 5px;
}

.fourthRow {
    display: flex;
    margin-top: 10px;
    align-content: center;
    text-align: center;
    border: 0px solid blue;
}

.fourthRowButton {
    flex: 1;
    background-color: white;
    color: black;
    margin: 0px 5px;
}

.fifthRow {
    margin-top: 10px;
    position: relative;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: relative;
    flex: 1;
    background-color: white;
    color: black;
}
