html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow: hidden;
}

html {
    border: 0px solid rgb(255, 251, 0);
}

body {
    border: 0px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.tabs {
    display: flex;
    color: rgb(12, 9, 34);
    background-color: #aaccff;
}

.tab-button {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid red;
    color: #0a3677;
}

.selectTable, .currentTables {
    cursor: pointer;
    text-align: center;
    font-size: 23px;
}

#tab-buttonSelectTable, #tab-buttonCurrentTables {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: #0a3677;
    border: 0px solid yellow;
}

.currentTables {
    background-color: #aaccff;
}

#tab-buttonCurrentTables {
    visibility: hidden;
    background-color: #0a3677;
}

.page {
    background-color: #aaccff;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.tableInput {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.numTable {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    color: #0a3677;
}

#tableInput {
    position: relative;
    background-color: #0a3677;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 50%;
    margin-left: 5%;
    border: 1px solid rgb(12, 9, 34);
    pointer-events: none;
}

.button-grid {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    border: 0px solid red;
    color: rgb(20, 20, 51);
}

.actions {
    display: flex;
    justify-content: center;
    border: 0px solid red;
}

.accept-button {
    font-size: 30px;
    text-align: center;
    background-color: rgb(8, 141, 8);
    color: white;
    border: none;
    position: absolute;
    margin-top: 8px;
    width: 100%;
    height: 10%;
    border: 1px solid rgb(12, 9, 34);
    text-shadow: 1px 1px 1px black;
}


/* Current tables */

#current-tables-page {
    position: relative;
    background-color: #aaccff;
    height: calc(100% - 32px);
    width: 100%;
    left: 10px;
    display: none;
}

#currentTables {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    padding: 0;
    overflow: scroll;
    margin: 10px 10px;
}

.table {
    background-color: white;
    height: 110px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(12, 9, 34);
    font-size: 30px;
}

.tableNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #0a3677;
    color: white;
    text-decoration: none;
}

.tablePrice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}