html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 43, 92);
    overflow: hidden;
}

html {
    border: 0px solid rgb(255, 251, 0);
}

body {
    border: 0px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    max-width: 1000px;
    margin: auto;
}

.tabs {
    display: flex;
    color: black;
    background-color: rgb(9, 43, 92);
}

.tab-button {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid red;
    color: white;
}

#selectTableTab, #currentTablesTab {
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#selectTableTab {
    background-color: #aaccff;
    color: black;
    border-top: 5px solid rgb(28, 89, 176);
}

#currentTablesTab {
    background-color: rgb(9, 43, 92);
    color: white;
    border-top: 5px solid rgb(9, 43, 92);
}

#tab-buttonSelectTable, #tab-buttonCurrentTables {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: white;
    border: 0px solid yellow;
}

#currentTables {
    background-color: #aaccff;
}

#selectTableIcon {
    padding-right: 15px;
    padding-bottom: 2px;
}

#currentTablesIcon {
    padding-right: 15px;
}

#tab-buttonCurrentTables {
    visibility: hidden;
    background-color: rgb(9, 43, 92);
}

.page {
    background-color: #aaccff;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#buttonGrid {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.tableInput {
    display: flex;
    background-color: rgb(9, 43, 92);
    text-align: center;
    margin: 5px 35px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    color: white;
    align-items: center;
}

#brandImage {
    width: 35%;
    margin-left: 10px;
}

#tableInput {
    position: relative;
    background-color: rgb(9, 43, 92);
    height: 50px;
    width: 50%;
    text-align: left;
    color: white;
    font-size: 30px;
    border: 0px;
    pointer-events: none;
    display: flex;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
    font-size: 40px;
}

.button-grid {
    display: grid;
    margin: 0px 36px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
    border-collapse: collapse;
}

.grid-item {
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px -1px;
}

.button {
    position: relative;
    width: 100%;
    max-width: 125px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border: 0px solid red;
    color: black;
}

.actions {
    display: flex;
    justify-content: center;
    border: 0px solid red;
}

.accept-button {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background-color: #15bf9f;
    color: white;
    border: none;
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    text-shadow: #000000 1px 0 3px;
    position: absolute;
    bottom: 0;
}


/* Current tables */

#current-tables-page {
    position: relative;
    background-color: #aaccff;
    height: calc(100% - 32px);
    width: 100%;
    left: 10px;
    display: none;
}

#currentTables {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 10px;
}

.table {
    background-color: white;
    height: 110px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(12, 9, 34);
    font-size: 30px;
}

.tableNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(9, 43, 92);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.lastModified {
    font-size: 12px;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
    margin-left: 5px;
}

.tablePrice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}