body {
    background-color: #aaccff;
    font-family: Arial, Helvetica, sans-serif;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(12, 9, 34);
    background-color: #aaccff;

}

.tab-button {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid red;
    color: #0a3677;
}

#tab-button1, #tab-button2, #tab-button3, #tab-button4 {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 0;
    background-color: #0a3677;
    border: 0px solid yellow;
}

#tab-button2, #tab-button3, #tab-button4 {
    visibility: hidden;
}

#productPage {
    display: flex;
    flex-direction: column;
}

.fourthRow {
    display: flex;
    margin-top: 0px;
    align-content: center;
    text-align: center;
    gap: 2px;
    margin: 0px 0px;
}

.pagesButton {
    flex: 1;
    background-color: white;
    border: 1px solid #0a3677;
}

.fifthRow {
    position: relative;
    height: 100%;
}

.page {
    display: none;
    margin-top: 10px;
    border: 1px solid #0a3677;
}

#productPage {
    display: flex;
}

.content {
    position: relative;
    width: 100%;
    height: 230px;
    border: 0px solid #0a3677;
    margin-top: 5px;
    align-content: center;
}

#grid1, #grid2, #grid3, #grid4, #grid5 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    gap: 3px;
}

.grid-product, .grid-product-small {
    flex: 16.4%;
    max-width: 16.4%;
    height: 40px;
    position: relative;
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
    color: rgb(12, 9, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    word-break: break-word;
    text-align: center;
    flex-direction: column;
}

.grid-product-small {
    font-size: 14px;
}

#grid2, #grid3, #grid4, #grid5 {
    display: none;
}

.products-prices {
    font-size: 12px;
}

.grid-deployable {
    flex: 16.4%;
    max-width: 16.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border: 1px solid rgb(12, 9, 34);
    background-color: #ffff94;
}

.deployable-product {
    flex: 16.4%;
    max-width: 16.4%;
    height: 40px;
    position: relative;
    background-color: white;
    border: 1px solid rgb(12, 9, 34);
    color: rgb(12, 9, 34);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    word-break: break-word;
    text-align: center;
    flex-direction: column;
}


