<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<head>
    <title>Add Elements</title>
    <link rel="stylesheet" type="text/css" href="..\static\edit.css">
    <link rel="icon" href="..\static\favicon.png" sizes="1x1" type="image/png">
</head>
<body>
    <div id="pages">
        <div class="tabs">
            <div class="tab-button" data-tab="1" onclick="changeTab(this)">
                <div id="statsTab"><b>Statistics</b></div>
            </div>
            <div class="tab-button" data-tab="2" onclick="changeTab(this)">
                <div id="productTab"><b>Products</b></div>
            </div>

            <div class="tab-button" data-tab="3" onclick="changeTab(this)">
                <div id="employeeTab"><b>Employees</b></div>
            </div>

            <div class="tab-button" data-tab="4" onclick="changeTab(this)">
                <div id="ingredientAndAllergenTab"><b>Ingredients and Allergens</b></div>
            </div>

            <div class="tab-button" data-tab="5" onclick="changeTab(this)">
                <div id="settingsTab"><b>Settings</b></div>
            </div>
        </div>

        <div class="page" id="statsPage" data-page="1">
            asd
        </div>

        <div class="page" id="productPage" data-page="2">
            <div class="productTab">
                <div class="productContent" id="productPage">
                    <div id="pagesTitle">
                        Current Products
                    </div>
                    <div class="productPages">
                        <!-- PLACEHOLDER: PRODUCTS PAGES BUTTONS -->
                    </div>
                    <div class="content">
                        <!-- PLACEHOLDER: LIST OF PRODUCTS -->
                    </div>
                </div>

                <div id="arrows">
                    <svg id="arrow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"><title>Artboard-2</title><g id="Left-4" data-name="Left"><path d="M19,12a1,1,0,0,1-1,1H8.414l1.293,1.293a1,1,0,1,1-1.414,1.414l-3-3a1,1,0,0,1,0-1.414l3-3A1,1,0,0,1,9.707,9.707L8.414,11H18A1,1,0,0,1,19,12Z" style="fill:#000000" /></g></svg>
                    <svg id="arrow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"><title>Artboard-1</title><g id="Right-4" data-name="Right"><path d="M18.707,12.707l-3,3a1,1,0,0,1-1.414-1.414L15.586,13H6a1,1,0,0,1,0-2h9.586L14.293,9.707a1,1,0,0,1,1.414-1.414l3,3A1,1,0,0,1,18.707,12.707Z" style="fill:#000000" /></g></svg>

                </div>

                <div id="forms">
                    <div id="addProductForm" action="/add/product" method="post">
                        <div id="addProductTitle" class="formTitle">
                            Add New Product
                        </div>
                        <div id="name">
                            <div>Name</div>
                            <input id="nameInput" name="nameInput" maxlength="30" size="30" placeholder="Enter product name" />
                        </div>

                        <div id="price">
                            <div>Price</div>
                            <input type="number" maxlength="5" size="5" id="priceInput" name="priceInput" min="0" max="9999.999" step="0.01" value="0.0" />
                        </div>

                        <div id="color">
                            <div>Color</div>
                            <input type="color" list="redColors" id="colorInput" name="colorInput" value="#FFFFFF" />
                            <datalist id="redColors">
                                <option value="#FFFFFF"></option>
                                <option value="#EDEDED"></option>
                                <option value="#DBDBDB"></option>
                                <option value="#C4C4C4"></option>
                                <option value="#A8A8A8"></option>
                                <option value="#FF7070"></option>
                                <option value="#FFD06B"></option>
                                <option value="#FEF95D"></option>
                                <option value="#7AFF83"></option>
                                <option value="#85F1FF"></option>
                                <option value="#B190FE"></option>
                                <option value="#FF80EE"></option>
                            </datalist>
                        </div>

                        <div name="isDeployable" id="isDeployable">
                            <div>Deployable</div>
                            <select id="deployableInput" name="deployableInput">
                                <option value="Non-deployable">Non-deployable</option>
                                <option value="Deployable">Deployable</option>
                            </select>
                        </div>

                        <div class="buttons">
                            <button id="acceptInput" onclick="addProduct()">Save</button>
                            <button type="reset" id="resetInput">Reset</button>
                        </div>
                    </div>

                    <div id="modifyProductForm">
                        <div id="addProductTitle" class="formTitle">
                            Modify Current Product
                        </div>
                        <div id="selectedElementText">
                            Selected element
                        </div>
                        <div id="selectedElement">

                        </div>

                        <div id="newName">
                            <div>New name</div>
                            <input id="newNameInput" name="newNameInput" maxlength="30" size="30" placeholder="Enter new product name" />
                        </div>

                        <div id="newPrice">
                            <div>New price</div>
                            <input type="number" maxlength="5" size="5" id="newPriceInput" name="priceInput" min="0" max="9999.999" step="0.01" value="0.0" />
                        </div>

                        <div id="newColor">
                            <div>New color</div>
                            <input type="color" list="redColors" id="newColorInput" name="newColorInput" value="#FFFFFF" />
                            <datalist id="redColors">
                                <option value="#FFFFFF"></option>
                                <option value="#EDEDED"></option>
                                <option value="#DBDBDB"></option>
                                <option value="#C4C4C4"></option>
                                <option value="#A8A8A8"></option>
                                <option value="#FF7070"></option>
                                <option value="#FFD06B"></option>
                                <option value="#FEF95D"></option>
                                <option value="#7AFF83"></option>
                                <option value="#85F1FF"></option>
                                <option value="#B190FE"></option>
                                <option value="#FF80EE"></option>
                            </datalist>
                        </div>
                        <div class="buttons">
                            <div id="acceptModifyInput" onclick="modifyProduct()">Save</div>
                            <div type="reset" id="resetModifyInput">Reset</div>
                            <div id="deleteProductButton" onclick="deleteProduct()">Delete</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="page" id="employeePage" data-page="3">
            <div id="employees">
                <div class="names">Employees' Names</div>
                <ul id="employeeList">
                    <!-- PLACEHOLDER: CURRENT EMPLOYEES -->
                </ul>

                <div id="buttons">
                    <svg id='addEmployee' onclick='addEmployee(this)' xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24">
                        <title />
                        <g id="Complete">
                            <g data-name="add" id="add-2">
                                <g>
                                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="19" y2="5" />
                                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="5" x2="19" y1="12" y2="12" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>

            <div>
                <svg id="arrow2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"><title>Artboard-1</title><g id="Right-4" data-name="Right"><path d="M18.707,12.707l-3,3a1,1,0,0,1-1.414-1.414L15.586,13H6a1,1,0,0,1,0-2h9.586L14.293,9.707a1,1,0,0,1,1.414-1.414l3,3A1,1,0,0,1,18.707,12.707Z" style="fill:#000000" /></g></svg>
            </div>

            <div id="selectedEmployeeDetails">
                <div id="selectedEmployeeDetailsText">
                    Selected Employee's Details
                </div>
                <div class="detailsRow">
                    <div>
                        <div class="detailsText">First Name</div>
                        <input class="detailsInput" id="firstName" value="1" />
                    </div>
                    <div>
                        <div class="detailsText">Last Name</div>
                        <input class="detailsInput" id="lastName" value="2" />
                    </div>
                </div>
                <div class="detailsRow">
                    <div>
                        <div class="detailsText">Email</div>
                        <input class="detailsInput" id="email" value="3" />
                    </div>
                    <div>
                        <div class="detailsText">ID</div>
                        <input class="detailsInput" id="id" value="4" />
                    </div>
                </div>
                <div class="onlyRow">
                    <div class="detailsText">Mobile Number</div>
                    <input class="detailsInput" id="mobileNumber" value="5" />
                </div>
                <div class="onlyRow">
                    <div class="detailsText">Level</div>
                    <input class="detailsInput" id="level" value="6" />
                </div>
                <div class="detailsRow">
                    <div>
                        <div class="detailsText">Username</div>
                        <input class="detailsInput" id="username" value="7" />
                    </div>
                    <div>
                        <div class="detailsText">Password</div>
                        <input class="detailsInput" id="password_hash" value="8" />
                    </div>
                </div>
                <div class="detailsRow" id="saveDeleteButtons">
                    <div id="saveEmployeeDetails" onclick="addEmployeeDetails()">
                        Save Employee
                    </div>
                    <div id="deleteEmployeeDetails" onclick="deleteEmployeeDetails()">
                        Delete Employee
                    </div>
                </div>
            </div>

            <div id="employeeData">

            </div>

        </div>

        <div class="page" id="ingredientAndAllergensPage" data-page="4">
            <div id="currentProducts">
                <div id="currentProductsText">
                    Product List
                </div>
                <div class="searchBar">
                    <div class="searchIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.91px;
                                    }
                                </style>
                            </defs>
                            <circle class="cls-1" cx="9.14" cy="9.14" r="7.64" />
                            <line class="cls-1" x1="22.5" y1="22.5" x2="14.39" y2="14.39" />
                        </svg>
                    </div>
                    <input class="inputFilter" id="productFilter" />
                    <div class="searchButton" id="searchProductButton" onclick="searchProduct()">Search</div>
                </div>
                <ul id="currentProductsList">
                    <!-- PLACEHOLDER: CURRENT PRODUCTS -->
                </ul>
                <div class="buttonsRow">
                    <div class="saveAndDeleteButtons" id="saveRelationships" onclick="saveRelationships()">
                        Save relationships
                    </div>
                </div>
            </div>
            <div>
                <svg id="arrow2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"><title>Artboard-1</title><g id="Right-4" data-name="Right"><path d="M18.707,12.707l-3,3a1,1,0,0,1-1.414-1.414L15.586,13H6a1,1,0,0,1,0-2h9.586L14.293,9.707a1,1,0,0,1,1.414-1.414l3,3A1,1,0,0,1,18.707,12.707Z" style="fill:#000000" /></g></svg>
            </div>
            <div id="currentIngredients">
                <div id="currentIngredientsText">
                    Ingredient List
                </div>
                <div class="searchBar">
                    <div class="searchIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.91px;
                                    }
                                </style>
                            </defs>
                            <circle class="cls-1" cx="9.14" cy="9.14" r="7.64" />
                            <line class="cls-1" x1="22.5" y1="22.5" x2="14.39" y2="14.39" />
                        </svg>
                    </div>
                    <input class="inputFilter" id="ingredientFilter" />
                    <div class="searchButton" id="searchIngredientButton" onclick="searchIngredient()">Search</div>
                </div>
                <div class="filter" id="ingredientsFilter">
                    <div class="filterText">Filter by: </div>
                    <div class="allButton" id="allIngredientsButton" onclick="selectAllIngredients()">All</div>
                    <div class="ownedButton" id="ownedIngredientsButton" onclick="selectOwnedIngredients()">Owned</div>
                    <div class="notOwnedButton" id="notOwnedIngredientsButton" onclick="selectNotOwnedIngredients()">Not Owned</div>
                </div>
                <ul id="currentIngredientsList">
                    <!-- PLACEHOLDER: CURRENT INGREDIENTS -->
                </ul>
                <ul id="ownedIngredientsList">
                </ul>
                <ul id="notOwnedIngredientsList">
                </ul>
                <div class="buttonsRow">
                    <div class="saveAndDeleteButtons" id="addNewIngredient" onclick="addNewIngredient()">
                        Add New
                    </div>
                    <div class="saveAndDeleteButtons" id="saveIngredients" onclick="saveIngredients()">
                        Save
                    </div>
                    <div class="saveAndDeleteButtons" id="deleteIngredients" onclick="deleteIngredients()">
                        Delete
                    </div>
                </div>
            </div>

            <div>
                <svg id="arrow2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"><title>Artboard-1</title><g id="Right-4" data-name="Right"><path d="M18.707,12.707l-3,3a1,1,0,0,1-1.414-1.414L15.586,13H6a1,1,0,0,1,0-2h9.586L14.293,9.707a1,1,0,0,1,1.414-1.414l3,3A1,1,0,0,1,18.707,12.707Z" style="fill:#000000" /></g></svg>
            </div>

            <div id="currentAllergens">
                <div id="currentAllergensText">
                    Allergen List
                </div>
                <div class="searchBar">
                    <div class="searchIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.91px;
                                    }
                                </style>
                            </defs>
                            <circle class="cls-1" cx="9.14" cy="9.14" r="7.64" />
                            <line class="cls-1" x1="22.5" y1="22.5" x2="14.39" y2="14.39" />
                        </svg>
                    </div>
                    <input class="inputFilter" id="allergenFilter" />
                    <div class="searchButton" id="searchAllergenButton" onclick="searchAllergen()">Search</div>
                </div>
                <div class="filter" id="allergensFilter">
                    <div class="filterText">Filter by: </div>
                    <div class="allButton" id="allAllergensButton" onclick="selectAllAllergens()">All</div>
                    <div class="ownedButton" id="ownedAllergensButton" onclick="selectOwnedAllergens()">Owned</div>
                    <div class="notOwnedButton" id="notOwnedAllergensButton" onclick="selectNotOwnedAllergens()">Not Owned</div>
                </div>
                <ul id="currentAllergensList">
                    <!-- PLACEHOLDER: CURRENT ALLERGENS -->
                </ul>
                <ul id="ownedAllergensList">
                </ul>
                <ul id="notOwnedAllergensList">
                </ul>
                <div class="buttonsRow">
                    <div class="saveAndDeleteButtons" id="addNewAllergen" onclick="addNewAllergen()">
                        Add New
                    </div>
                    <div class="saveAndDeleteButtons" id="saveAllergens" onclick="saveAllergens()">
                        Save
                    </div>
                    <div class="saveAndDeleteButtons" id="deleteAllergens" onclick="deleteAllergens()">
                        Delete
                    </div>
                </div>
            </div>
        </div>
        <div class="page" id="configPage" data-page="5">

        </div>

        <script src="..\static\edit.js"></script>
</body>
</html>
