<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<head>
    <title>Number Selector</title>
    <link rel="stylesheet" type="text/css" href="..\static\index.css">
    <link rel="icon" href="..\static\favicon.png" sizes="1x1" type="image/png">
</head>
<body>
    <div class="tabs">
        <div class="tab-button" onclick="changeToSelectTableTab()">
            <div>

            </div>
            <div id="selectTableTab">
                <svg id="selectTableIcon" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 48 48">
                    <path d="M0 0h48v48H0z" fill="none" />
                    <g id="Shopicon">
                        <rect class="selectTableIcon2" x="4" y="4" width="10" height="10" fill="#000000"/>
                        <rect class="selectTableIcon2" x="19" y="4" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="34" y="4" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="4" y="19" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="19" y="19" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="34" y="19" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="4" y="34" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="19" y="34" width="10" height="10" fill="#000000" />
                        <rect class="selectTableIcon2" x="34" y="34" width="10" height="10" fill="#000000" />
                    </g>
                </svg>
                Select
            </div>
        </div>
        <div class="tab-button" onclick="changeToCurrentTablesTab()">
            <div id="currentTablesTab">
                <svg id="currentTablesIcon" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 512 512" version="1.1"><path id="currentTablesIcon2" fill="#FFFFFF" d="M512 160L256 32L0 160V208L16 216V376C16 389.255 26.7452 400 40 400H56C69.2548 400 80 389.255 80 376V248L224 320V472C224 485.255 234.745 496 248 496H264C277.255 496 288 485.255 288 472V320L432 248V376C432 389.255 442.745 400 456 400H472C485.255 400 496 389.255 496 376V216L512 208V160Z" /></svg>
                Current
            </div>
        </div>
    </div>

    <div id="select-table-page" class="page">
        <form id="buttonGrid" action="table" method="get">
            <div class="tableInput">
                <img id="brandImage" src="..\static\images\dinet_logo_light.png" onclick="logout()"/>
                <input type="text" id="tableInput" name="tableInput" readonly>
            </div>

            <div class="button-grid">
                <div class="grid-item"><div class="button" onclick="appendNumber(7)">7</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(8)">8</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(9)">9</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(4)">4</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(5)">5</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(6)">6</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(1)">1</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(2)">2</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(3)">3</div></div>
                <div class="grid-item"><div class="button" onclick="appendNumber(0)">0</div></div>
                <div class="grid-item"><div class="button"></div></div>
                <div class="grid-item"><div class="button" onclick="clearDisplay()">CE</div></div>
            </div>

            <div class="actions">
                <button type="submit" class="accept-button">ACCEPT</button>
            </div>
        </form>
    </div>

    <div id="current-tables-page" class="page">
        <ul id="currentTables">
            <!-- 
            <li class='table' onclick='goToTable(this)'>
                <div class='tableNumber'>Table: 12</div>
                <div class='tablePrice'>$28.0</div>
            </li>
            -->
            <!-- PLACEHOLDER: TABLES PRICES -->
        </ul>
    </div>

    <script src="..\static\index.js"></script>
</body>
</html>
