<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="..\static\login.css">
    <link rel="icon" href="..\static\favicon.png" sizes="1x1" type="image/png">
</head>

<body>
    <div id="brand">
        <img id="brandImage" src="\static\images\dinet_logo_light.png">
        <div id="brandDescription">
            A web-based business management system
        </div>
    </div>

    <div class="login-container">
        <div id="form">
            <label id="usernameText" for="username">Username</label>
            <input type="text" id="username" required>

            <label id="passwordText" for="password">Password</label>
            <input type="password" id="password" required>

            <button id="loginButton" onclick="login()">
                Login
            </button>
        </div>
    </div>

    <script src="..\static\login.js"></script>
</body>
</html>
