<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics Viewer</title>
    <link rel="stylesheet" type="text/css" href="..\static\stats.css">
    <link rel="icon" href="..\static\favicon.png" sizes="1x1" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div>
        Graph
        <canvas id="myChart"></canvas>
    </div>

    <div onclick="receiveData()">Click here</div>

    <script src="..\static\stats.js"></script>
</body>
</html>
