<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<head>
    <title>Number Selector</title>
    <link rel="stylesheet" type="text/css" href="..\static\table.css">
</head>
<body>
    <div class="tab">
        <div class="tab-button" onclick="changeToProductsTab()">
            <div class="products"><b>Products</b></div>
            <div id="tab-buttonProducts"></div>
        </div>
        <div class="tab-button" onclick="changeToTicketTab()">
            <div class="ticket"><b>Ticket</b></div>
            <div id="tab-buttonTicket"></div>
        </div>
    </div>

    <div class="menu">
        <div class="firstRow">
            <input class="numClients" type="text" maxlength="5  " placeholder="Nº">
            <div class="numTable">Table: 110</div>
        </div>

        <div class="secondRow">
            <div class="lastOrder">x2 Chicken hamburguer</div>
        </div>

        <div class="thirdRow">
            <div class="thirdRowButton">-</div>
            <div class="thirdRowButton">N ord.</div>
            <div class="thirdRowButton">Save</div>
            <div class="thirdRowButton">Move</div>
        </div>

        <div class="fourthRow">
            <div class="fourthRowButton">1</div>
            <div class="fourthRowButton">2</div>
            <div class="fourthRowButton">3</div>
            <div class="fourthRowButton">4</div>
            <div class="fourthRowButton">5</div>
        </div>

        <div class="fifthRow">
            <div class="content">
                prueba
            </div>
        </div>
    </div>

    <script src="..\static\table.js"></script>
</body>
</html>
