<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<head>
    <title>Number Selector</title>
    <link rel="stylesheet" type="text/css" href="..\static\table.css">
</head>
<body>
    <div class="tab">
        <div class="tab-button" onclick="showPage('Box')"><b>Box</b></div>
        <div class="tab-button" onclick="showPage('Ticket')"><b>Ticket</b></div>
    </div>

    <div>
        <div class="firstRow">
            <input class="numClients" type="text" maxlength="3" placeholder="N. of clients">
            <div class="numTable">Table: 1</div>
        </div>

        <div class="secondRow">
            <input type="checkbox">
            <div>Last Order</div>
        </div>

        <div class="thirdRow">
            <div class="thirdRowButton">-</div>
            <div class="thirdRowButton">N ord.</div>
            <div class="thirdRowButton">Save</div>
            <div class="thirdRowButton">Change Table</div>
        </div>
    </div>

    <div class="fourthRow">
        <div class="fourthRowButton">1</div>
        <div class="fourthRowButton">2</div>
        <div class="fourthRowButton">3</div>
        <div class="fourthRowButton">4</div>
        <div class="fourthRowButton">5</div>
    </div>

    <div class="fifthRow">
        <div class="content">
            prueba
        </div>
    </div>

    <script>
        function showPage(page) {
            console.log('Showing page: ' + page);
        }

        function goBack() {
            console.log('Going back');
        }
    </script>
</body>
</html>
